@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.75rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #444444 !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #767676 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #996100;
  color: #996100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #444444 !important;
}
.text-secondary {
  color: #ffa200 !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #767676 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #111111 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #434343 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #767676;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #444444;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b7b7b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #444444;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #444444;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #444444;
  border-bottom-color: #444444;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #444444 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffa200 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23444444' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rQj31Y9Kr1 {
  background-image: url("../../../assets/images/03.jpg");
}
.cid-rQj31Y9Kr1 .mbr-section-title {
  letter-spacing: .1em;
}
.cid-rQj31Y9Kr1 .mbr-text {
  letter-spacing: 0.03rem;
}
.cid-rQj31Y9Kr1 .card-img span {
  font-size: 100px;
}
.cid-rQj4PMfWPK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-rQj4PMfWPK .mbr-text {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
}
.cid-rQj4PMfWPK h4 {
  text-align: center;
}
.cid-rQj4PMfWPK p {
  text-align: center;
}
.cid-rQj4PMfWPK .card {
  padding-bottom: 3rem;
}
.cid-rQj4PMfWPK .card-img {
  padding-bottom: 1.5rem;
}
.cid-rQj4PMfWPK .card-img span {
  font-size: 80px;
  color: #ffffff;
}
.cid-rQj4PMfWPK .card-title,
.cid-rQj4PMfWPK .card-img {
  color: #ffffff;
  text-align: center;
}
.cid-rQj4PMfWPK .card-title {
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 2rem;
}
.cid-rQj4PMfWPK .header-title,
.cid-rQj4PMfWPK .header-text {
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
}
.cid-rQj4PMfWPK .header-title {
  letter-spacing: 0.1em;
}
.cid-rQj4PMfWPK .header-text {
  letter-spacing: 0.03em;
}
.cid-rQj51q7Ikc {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-rQj51q7Ikc .card-title {
  letter-spacing: 0.1em;
  color: #232323;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-rQj51q7Ikc .card {
  margin-bottom: 2rem;
}
.cid-rQj51q7Ikc .card .card-wrapper {
  height: 100%;
}
.cid-rQj51q7Ikc .card-box {
  padding-top: 2rem;
}
.cid-rQj51q7Ikc .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-rQj51q7Ikc .mbr-section-title {
  letter-spacing: 0.1em;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.cid-rQj51q7Ikc .btn {
  margin: .3rem;
}
.cid-rQj5iTkgx3 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #444444;
}
.cid-rQj5iTkgx3 .mbr-text {
  letter-spacing: 0.1em;
}
.cid-rQj5iTkgx3 .card-img span {
  font-size: 80px;
  color: #ffffff;
}
.cid-rQj52SoISO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-rQj52SoISO a {
  color: #232323;
}
.cid-rQj52SoISO a:hover {
  color: #444444;
}
.cid-rQj52SoISO h5.mbr-text {
  color: #444444;
}
.cid-rQj52SoISO .card {
  padding: 1rem 2rem;
}
.cid-rQj52SoISO .card img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rQj52SoISO .card-title {
  color: #444444;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.cid-rQj52SoISO .mbr-iconfont {
  font-size: 20px;
  color: #444444;
}
.cid-rQj52SoISO .card-box p {
  margin-bottom: 0;
}
.cid-rQj52SoISO .specialty {
  padding-top: .5rem;
}
.cid-rQj52SoISO .social-links {
  padding-top: .5rem;
}
@media (min-width: 992px) {
  .cid-rQj52SoISO .my-col {
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-rQj6wTI4Bp {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-rQj6wTI4Bp .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
}
.cid-rQj6wTI4Bp .mbr-section-subtitle {
  letter-spacing: 0.03em;
  color: #444444;
}
.cid-rQj6wTI4Bp .card {
  margin-bottom: 2rem;
  background: #ffffff;
}
.cid-rQj6wTI4Bp .card-block {
  letter-spacing: 0.03em;
  color: #444444;
  padding: 1.25rem 1.25rem 5px 1.25rem;
}
.cid-rQj6wTI4Bp .mbr-author {
  padding-top: 0;
  text-align: center;
}
.cid-rQj6wTI4Bp .space {
  height: 45px;
  width: 100%;
}
.cid-rQj6wTI4Bp .mbr-author-img {
  width: 100px;
  height: 100px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  margin-top: -60px;
  left: 0;
  right: 0;
}
.cid-rQj6wTI4Bp .mbr-author-img img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rQj6wTI4Bp .mbr-author-name p {
  margin-bottom: 0px;
}
.cid-rQj6wTI4Bp .mbr-author-desc p {
  margin-bottom: 0px;
}
.cid-rQj6wTI4Bp .card-footer {
  border-top: none;
  background-color: rgba(0, 0, 0, 0.08);
  padding: .75rem 1.25rem 1.25rem 1.25rem;
}
.cid-rQjczrf53i {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/04.jpg");
}
.cid-rQjczrf53i h4 {
  display: flex;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rQjczrf53i .panel-text {
  letter-spacing: 0.03em;
  color: #444444;
}
.cid-rQjczrf53i .mbr-section-title {
  letter-spacing: 0.1em;
  color: #ffffff;
}
.cid-rQjczrf53i .mbr-section-subtitle {
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #ffffff;
}
.cid-rQjczrf53i .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-rQjczrf53i .panel-group {
  width: 100%;
}
.cid-rQjczrf53i .card {
  border-bottom: 1px solid #efefef;
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-rQjczrf53i .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rQjczrf53i .card .card-header a.panel-title {
  transition: all .3s;
  background-color: #444444;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rQjczrf53i .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-rQjczrf53i .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rQjczrf53i .card .card-header a.panel-title .sign {
  padding-left: 1rem;
}
.cid-rQjczrf53i .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.cid-rQjczrf53i .card .panel-body {
  background: #efefef;
}
.cid-rQjczrf53i .media-container-row > div {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rQjczrf53i .sign {
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-rQjczrf53i .media-container-row > div {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-rQjczrf53i .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-rQj6JnW4Nt {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/06.jpg");
}
.cid-rQj6JnW4Nt .title {
  margin-bottom: 2rem;
}
.cid-rQj6JnW4Nt .mbr-section-subtitle {
  color: #767676;
}
.cid-rQj6JnW4Nt a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rQj6JnW4Nt a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rQj6JnW4Nt .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-rQj6JnW4Nt .input-group-btn {
  display: block;
  text-align: left;
}
.cid-rQj6JnW4Nt h3 {
  color: #444;
  letter-spacing: 0.03em;
}
.cid-rQj6JnW4Nt .form-control {
  border-radius: 0px !important;
  padding-left: 15px;
}
.cid-rQj6JnW4Nt .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rQj6JnW4Nt .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rQj6JnW4Nt .google-map [data-state-details] {
  color: #444444;
  font-family: Muli;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rQj6JnW4Nt .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rQj6JnW4Nt .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rQj6JnW4Nt textarea.form-control {
  min-height: 154px;
}
@media (max-width: 991px) {
  .cid-rQj6JnW4Nt .mbr-section-title {
    text-align: center;
  }
  .cid-rQj6JnW4Nt .mbr-section-subtitle {
    text-align: center;
  }
  .cid-rQj6JnW4Nt .input-group-btn {
    text-align: center;
  }
}
.cid-rQj6pGRB9M {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/05.jpg");
}
.cid-rQj6pGRB9M .signature {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.cid-rQj6pGRB9M .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-rQj6pGRB9M .card-img {
  margin-bottom: 1rem;
}
.cid-rQj6pGRB9M .card-img span {
  font-size: 60px;
}
.cid-rQj6A512me {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rQj6A512me .mbr-section-subtitle {
  color: #767676;
}
.cid-rQj6A512me .signature {
  letter-spacing: 0.03em;
}
.cid-rQj6A512me .mbr-section-title {
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.cid-rQj6A512me h5 {
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  font-weight: bold;
}
.cid-rQj6A512me .form-control {
  min-height: 2.7em;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: white;
  border-radius: 0px;
  font-size: 18px;
}
.cid-rQj6A512me .form-row {
  max-width: 480px;
  margin: 0 auto;
}
.cid-rQj6A512me .input-group-btn {
  display: inline-block;
  -webkit-align-self: center;
  align-self: center;
  z-index: 3;
}
.cid-rQj6A512me .input-group-btn .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  letter-spacing: 0.1em;
  border-radius: 0px !important;
}
.cid-rQj6A512me a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rQj6A512me a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 350px) {
  .cid-rQj6A512me .input-group-btn .btn {
    border-radius: 3px;
  }
}
@media (max-width: 767px) {
  .cid-rQj6A512me .form-row {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 300px;
  }
  .cid-rQj6A512me .form-group {
    margin-bottom: 8.4px;
  }
  .cid-rQj6A512me .input-group-btn .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cid-rQj6A512me .form-group,
  .cid-rQj6A512me .input-group-btn {
    margin: 0;
    padding: 0;
  }
}
.cid-rQjcH5RhwA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #bbbbbb;
}
.cid-rQjcH5RhwA .mbr-text {
  color: #444;
  letter-spacing: 0.1em;
}
.cid-rQjcH5RhwA .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rQjcH5RhwA .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-rQjcH5RhwA .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rQjcH5RhwA .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rQjcH5RhwA .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-rQjcH5RhwA .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rQjcH5RhwA .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-rQjcH5RhwA .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
.cid-rQjcH5RhwA .links {
  color: #232323;
}
